/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}
a{color:inherit;text-decoration:none;}

body {
	font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 17px;
	font-weight: 300;
	color: #333;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 2;
	margin: 0 auto;
	max-width: 60rem;
	padding: 0 0 12rem 0;
}

/* Not that much bottom padding on mobile. */
@media (max-width: 500px) {
	main {
		padding: 0 0 6rem 0;
	}
}

h1, h2, h3 {
	font-family: 'Cormorant', 'Times New Roman', Times, serif;
	padding: 0 1rem;
}

h1 {
	text-align: center;
	font-size: 3.5rem;
	font-weight: 700;
	margin: 4rem 0 3rem 0;
}


.title-container {
	margin-bottom: 3rem;
}

.title-container > h1 {
	margin-bottom: 1rem;
}

h2 {
	font-size: 2.5rem;
	font-weight: 700;
	margin: 2rem 0 1rem 0;
}

h3 {
	font-weight: 300;
	font-size: 2.25rem;
	font-style: italic;
	margin: 2rem 0 1rem 0;
}

@media (max-width: 440px) {
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2rem;
	}
}


p, ul, ol, blockquote {
	margin: 0;
	padding: 0 1rem;
	line-height: 1.6em;
}

p + p {
	margin-top: 1.5em;
}

button {
	background: inherit;
	padding: .5em .8em;
	border: none;
	border-radius: 0px;
	font: inherit;
	text-transform: uppercase;
	font-size: .9em;
	letter-spacing: .1em;
	transition: background-color .5s ease;
	margin: 0;
}

button + button {
	margin-left: .3rem;
}

.button-active,
button:hover,
button:active,
button:focus {
	cursor: pointer;
	background-color: #eeedf1;
}

button:disabled {
	color: #bbb;
}
button:disabled:hover {
	background-color: inherit;
	cursor: default;
}

p a {
	font: inherit;
	text-transform: inherit;
	letter-spacing: inherit;
	color: inherit;
	background: none;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #333;
}

.pic-right {
	box-shadow: 2px 2px 8px rgba(0,0,0,.3);
	margin: .4rem 1rem .5rem 1rem;
	float: right;
}

.pic-mobile {
	display: none;
	width: 100%;
	margin: 0 0 3rem 0;
}

@media (max-width: 440px) {
	.pic-mobile {
		display: block;
	}
	.pic-right {
		display: none;
	}
}